<div id="google_ads" style="width: 100%; height: auto;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ads_homepage -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1391132134348179"
       data-ad-slot="2008653046"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="ads">

</div>
