<%= provide :title, @article.title %>
<div class="row">
  <div class="col-md-8">
    <%= render "article_content" %>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <%= render "right_article" %>
  </div>
</div>
