<%= provide :title, t("user.admin.profile") %>
<div class="row">
  <h3><%= t "user.admin.profile" %></h3>
  <hr>
  <div class="flash"></div>
  <div class="profile">
    <%= render "profile" %>
  </div>
</div>
<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
