<div class="footer">
  <span class="copyright">
    <%= t "labels.copyright" %>
    <i class="fa fa-copyright"></i>
    <%= l Time.zone.now, format: :year %>
    <%= t "labels.brand" %>
  </span>
  <%= link_to "https://www.facebook.com/Monoread-516431271871570/",
    target: "_blank" do %>
    <i class="fa fa-facebook-square"></i>
  <% end %>
</div>
